language: java

services:
  - docker

# skip install step
install: true

stages:
  - test
  - test-oc-and-k8s
  - test-restarts
  - deploy

jobs:
  include:
    - stage: test
      language: java
      script: make build-travis test

    - stage: test-oc-and-k8s
      env: BIN=oc VERSION=v3.9.0 CRD=0
      script: &oc-script-defaults
        - make build-travis
        - ./.travis/.travis.prepare.openshift.sh
        - ./.travis/.travis.test-oc-and-k8s.sh

    - stage:
      env: BIN=oc VERSION=v3.9.0 CRD=1
      script: *oc-script-defaults

    #- stage:
    #  env: BIN=oc VERSION=v3.10.0 CRD=0
    #  script: *oc-script-defaults

    - stage:
      env: BIN=kubectl VERSION=v1.9.0 CRD=0 MINIKUBE_VERSION=v0.25.2
      script: &kc-script-defaults
        - make build-travis
        - ./.travis/.travis.prepare.minikube.sh
        - ./.travis/.travis.test-oc-and-k8s.sh

    - stage:
      env: BIN=kubectl VERSION=v1.9.0 CRD=1 MINIKUBE_VERSION=v0.25.2
      script: *kc-script-defaults

    - stage:
      name: "Restart pod [oc cm]"
      env: BIN=oc VERSION=v3.9.0 CRD=0
      script: &oc-restarts-script-defaults
      - make build-travis
      - ./.travis/.travis.prepare.openshift.sh
      - ./.travis/.travis.test-restarts.sh

    - stage:
      name: "Restart pod [oc crd]"
      env: BIN=oc VERSION=v3.9.0 CRD=1
      script: *oc-restarts-script-defaults

    - stage:
      name: "Restart pod [kc cm]"
      env: BIN=kubectl VERSION=v1.9.0 CRD=0 MINIKUBE_VERSION=v0.25.2
      script: &kc-restarts-script-defaults
      - make build-travis
      - ./.travis/.travis.prepare.minikube.sh
      - ./.travis/.travis.test-restarts.sh

    - stage:
      name: "Restart pod [kc crd]"
      env: BIN=kubectl VERSION=v1.9.0 CRD=1 MINIKUBE_VERSION=v0.25.2
      script: *kc-restarts-script-defaults

    - stage: deploy
      script: skip
      deploy:
        # release x.y.z or x.y.z-centos if there is a release
        # or release the latest image if building the master branch
        - ./.travis/.travis.release.images.sh
        # release maven artifacts
        - 'if [[ $TRAVIS_PULL_REQUEST == "false" ]] && [[ $TRAVIS_BRANCH == "master" ]] ; then make build-travis && ./mvnw -s ./.travis/settings.xml clean deploy; fi'
